@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-base font-normal font-primary;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }
    body::-webkit-scrollbar {
        width: 10px;
    }
    body::-webkit-scrollbar-track {
        background-color: #fafafa;
    }
    body::-webkit-scrollbar-thumb {
        background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
        border-radius: 50px;
    }
    input {
        @apply outline-none;
    }
    #root {
        height: 100%;
    }
}

@layer components {
    .overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.65);
        color: white;
    }

    .container {
        @apply w-full max-w-[1440px] mx-auto;
    }

    .display-content {
        @apply pt-48 pb-24;
    }
}

.dropdown-list {
    scrollbar-width: none;
}

.dropdown-list::-webkit-scrollbar {
    display: none;
}
